body{
    background-color: rgb(37, 37, 37);
    margin: 0 0;
    padding: 0 0;
}
.main{
    width: 100%;
    height: 1000px;
    background-color: crimson;
    margin: 0 0;
}
.bar{
    display: inline-block;
    width: 4%;
    height: 100%;
    background-color: chocolate;
}
.img{
    display: inline-block;
    width: 40%;
}
.content{
    display: inline-block;
    width: 50%;
}
.icon{
    font-size: 150% !important;
    width: 100% !important;
    padding-top: 10px !important;
    text-align: center !important;
    /* background-color: rgba(128, 255, 0, 0.746) !important; */
}
.middle{
    margin-top: 310% !important;
}